

/** 苹方-简体 # 常规、极细、细体、纤细、中黑、中粗 */
@font-face
    font-family 'PF_Regular' // 常规
    src url('pingfang_sc/PingFang-Regular.ttf')
@font-face
    font-family 'PF_Medium' // 中等
    src url('pingfang_sc/PingFang-Medium.ttf')
@font-face
    font-family 'PF_Light' // 细
    src url('pingfang_sc/PingFang-Light.ttf')
@font-face
    font-family 'PF_Heavy' // 中黑体
    src url('pingfang_sc/PingFang-Heavy.ttf')
@font-face
    font-family 'PF_ExtraLight' // 极细体
    src url('pingfang_sc/PingFang-ExtraLight.ttf')
@font-face
    font-family 'PF_Bold' // 黑体
    src url('pingfang_sc/PingFang-Bold.ttf')



/** 苹方-繁体 # 常规、极细、细体、纤细、中黑、中粗 */
@font-face    
    font-family 'PingFangTC' // 常规
    src url('pingfang_tc/PingFangTC.ttf')
@font-face
    font-family 'PF_Medium' // 中等
    src url('pingfang_tc/PingFangTC-Medium.ttf')
@font-face
    font-family 'PF_Thin' // 细
    src url('pingfang_tc/PingFangTC-Thin.ttf')
@font-face
    font-family 'PF_Light' // 细
    src url('pingfang_tc/PingFangTC-Light.ttf')
@font-face
    font-family 'PF_Semibold' // 半黑体
    src url('pingfang_tc/PingFangTC-Semibold.ttf')
@font-face
    font-family 'PF_Ultralight' // 极细体
    src url('pingfang_tc/PingFangTC-Ultralight.ttf')