html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

ul,
ol,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

video,
audio {
    outline: none;
}

em {
    display: inline;
    color: #fff;
    background: #3d7e9a;
    border-radius: 4px;
    padding: 3px 10px;
    font-style: normal;
    font-size: 15px;
    margin: 0 4px;
    letter-spacing: 0.5px;
    vertical-align: inherit;
}

.fill {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.center {
    text-align: center;
}

.el-header .nav {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}