html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

ul,
ol,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.video-container {
    margin: 20px 0;
    height: 480px;
    width: 100%;
    background: rgba(84, 92, 100, 0.65);
}

video,
audio {
    outline: none;
}

em {
    display: inline;
    color: #fff;
    background: #3d7e9a;
    border-radius: 4px;
    padding: 2px 10px;
    font-style: normal;
    font-size: 15px;
    margin: 0 4px;
    letter-spacing: 0.5px;
    vertical-align: inherit;
}

.fill {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.center {
    text-align: center;
}

.el-header {
    line-height: 60px;
}

.el-header .nav {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

@media print {
    .sidebar {
        display: none;
    }
    .code {
        border: 1px dotted #dedede;
        background: none;
    }
    code {
        white-space: pre-wrap;
    }
}