.el-drawer__wrapper {
    .el-drawer__header > span {
        outline: none;
    }

    .el-drawer {
        outline: none;

        .el-drawer__body {
            padding-top: 0px;
            overflow: auto;
        }
    }
}