.DS_Store
node_modules
/dist
/captives.github.io
/public/bower_components
/public/js/mathjax
/public/src
# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
